
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$roboto: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
$OpenSans: 'Open Sans', sans-serif;

/* ---------------------------------------- */

/* == Formatage du texte*/

/*---------------------------------------- */
    $extrabold:700;
    $bold: 600;
    $weightmedium: 500;
    $weightnormal: 400;
    $italic:italic;
    $normal:normal;
    $taille_normal:2em;
    $taille_medium: 1.5em;
    $taille_small:1em;
    $letterspacing_large: 2.5px;
    $letterspacing_small: 0.5px;
