/* ---------------------------------------- */

/* ==          COLOR CODES               */

/*---------------------------------------- */
$color-dune:#353130;
$color-indigo:#5e69c5;
$color-white:#fefefe;
$color-boulder:#767676;
$color-romance:#FFFEFD;
$color-quillgray :#dedddb;
$color-waikawagray :#596bab;
$color-scampi :#696ea6;
$color-edward :#bfc8c5;





// NOMS NON UTILISES
$color-Grayish-turquoise: #579c87;
$color-vividyellow:#fdcb46;
$color-palepink:#fcdfdb;
$color-selago:#fff5fe;
$color-verylightgray:#f9f9f9;
$color-verylightgreen:#fdfffd;
$color-wildwatermelon:#f15861;
$color-grayishred:#946e70;
$color-carrotorange:#c77412;
$color-dodgerblue:#0887fb;
$color-grannysmithapple:#a8d797;
$color-brandypunch:#d8852e;
$color-Heliotrope:#905bfd;
$color-unmellowyellow:#0431df;
$color-azureradiance:#0887fb;
$color-apple:#4c9f42;
$color-reef:#bfff7e;
$color-fontgray:#969696;
$color-londonhue:#bc8bb2;
$color-slateblue:#6e4ccc;
$color-zircon:#edefef;
$color-cornflowerblue:#657be4;
